<form (ngSubmit)="loginSubmit()" novalidate>
   <mat-form-field>

    <input matInput placeholder="UserName" [formControl] = 'username' required>
    <mat-error *ngIf="username.invalid">{{get_username_error()}}</mat-error>
   </mat-form-field>
   <mat-form-field>

    <input matInput placeholder="Password" [formControl] = 'password' required>
     <mat-error *ngIf="password.invalid">{{get_password_error()}}</mat-error> 
   </mat-form-field>
    <button type="submit">Save</button>
    
  </form>